$color-borderCircle: rgb(238, 238, 238);
$color-email: rgb(222, 222, 222);
$color-menuText: #2E343B;

.header__list{
  display: flex;
  margin: 0;
  padding: 0;
}

.header__item{
  display: flex;
  align-items: center;
}

.header__right{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 90px 25px 40px;
  border-bottom: 2px solid $first;
}

.header__left{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 408px;
  border-right: 2px solid $first;
  border-bottom: 2px solid $first;
  padding: 30px 40px 25px 40px;
}

.header__menu{
  display: flex;
  align-items: center;
}

.header__menu{
  display: flex;
  align-items: center;
  flex-grow: 1;

}

.header__img{
  border: 2px solid $color-borderCircle;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.header__icon--email{
  width: 18px;
  height: 13px;
  fill: $color-email;
}

.header__email{
  font-size: 15px;
  font-family: "Gotham",sans-serif;
  color: rgb(46, 52, 59);
  line-height: 3.867;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }

}

.header__item{
  &:first-child{
    padding-right: 20px;
  }
}

.header__language{
  font-size: 15px;
  padding-right: 24px;
  font-family: "Gotham",sans-serif;
  color: rgb(46, 52, 59);
  line-height: 3.867;
  position: relative;


}

.header__social{
  display: flex;
  flex-basis: 139px;
}

.menu__language{
  position: relative;
}

.header__language__submenu{
  position: absolute;
  height: 85px;
  width: 135px;
  left: 60px;
  top: 50px;
  display: none;
  cursor: pointer;
  background: #fff;
  padding: 10px;

  ul{
    list-style: none;
    margin-top: 5px;
  }
}



@media (max-width: 1024px) {
  .header{
    &__left{
      flex-basis: 100%;
    }

    &__right{
      flex-basis: 100%;
      padding-right: 40px;
    }
  }
}

@media (max-width: 480px) {

  .logo__icon{
    width: 80%;
  }

  .header{

    &__left{
      padding: 20px;
    }

    &__right{
      padding: 20px;
    }

    &__list{
      flex-wrap: wrap;
    }

  }
}

@media (max-width: 320px){

  .logo__icon{
    width: 80%;
  }

  .header{

    &__img{
      display: none;
    }

  }

}