@font-face {
  font-family: 'Gotham', sans-serif;
  src: local('Gotham Light'), local('Gotham-Light'), url('../fonts/GothamLight.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham', sans-serif;
  src: local('Gotham Bold'), local('GothamBold'), url('../fonts/GothamBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham', sans-serif;
  src: local('Gotham Light'), local('GothamLight'), url('../fonts/GothamLight.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham', sans-serif;
  src: local('Gotham Book'), local('GothamBook'), url('../fonts/GothamBook.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham', sans-serif;
  src: local('Gotham Book Italic'), local('GothamBookItalic'), url('../fonts/GothamBookItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham', sans-serif;
  src: local('Gotham Thin'), local('Gotham-Thin'), url('../fonts/Gotham-Thin.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham', sans-serif;
  src: local('Gotham Medium'), local('GothamMedium'), url('../fonts/GothamMedium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}